<div class="row">
    <div class="col-xs-12">
        <div class="video-container">
            <video #video class="video" (pause)="onPauseToggle()" (play)="onPauseToggle()"></video>
            <div class="player-buttons">
                <button (click)="startRecording()" [ngClass]="{'hidden': isRecording || isRecorded}"
                        class="start-recording-button" mat-fab color="warn">Pitch!
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 video-buttons-wrapper">
        <button mat-raised-button [ngClass]="{'hidden': !isRecording || isRecorded}" [disabled]="!isRecording" (click)="stopRecording()"> Stop</button>
        <button mat-raised-button [disabled]="!isRecorded || isRecording" (click)="downloadVideo()"> Download</button>
    </div>
</div>