.video {
  box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
  width: 100%;
}

.row {
  margin-bottom: 20px;
}

.video-buttons-wrapper {
  text-align: center;
}

.video-container {
  position: relative;

  .start-recording-button-wrapper {
    height: 128px;
    left: 50%;
    margin: -64px 0 0 -64px;
    position: absolute;
    top: 50%;
    width: 128px;
    z-index: 1;

    .start-recording-button {
      width: 100%;
      height: 100%;
      font-size: 20px;
    }


  }

  .timer-wrapper {
    height: 128px;
    left: 50%;
    margin: -64px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
    z-index: 1;
    text-align: center;
    .pitch-timer {
      font-size: 90px;
    }
  }

  .video-result-buttons-wrapper {
    position: absolute;
    height: 50%;
    width: 50%;
    left: 25%;
    top: 25%;
    z-index: 1;
    text-align: center;

    .results-button {
      margin-top: 10px;
    }
  }
}

