<nav class="navbar-header">
    <button mat-button class="docs-button" routerLink="/" aria-label="Angular Material">
        <img class="logo" src="../../assets/images/logo.png" alt="angular">
    </button>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/about">
        {{'mainMenu.About' | translate}}
    </button>
    <button mat-button routerLink="/terms">Terms</button>
    <button mat-button routerLink="/privacy">Privacy</button>
    <button mat-button routerLink="/contact">Contact</button>
    <div class="flex-spacer"></div>
</nav>