@{
    ViewData["Title"] = "Home Page";
}

<quick-app>
    <div id="pre-bootstrap">
        <div class="messaging">
            <div class="cs-loader">
                <div class="cs-loader-inner">
                    <label>&#9679</label>
                    <label>&#9679</label>
                    <label>&#9679</label>
                    <label>&#9679</label>
                    <label>&#9679</label>
                    <label>&#9679</label>
                </div>
            </div>
        </div>
    </div>
</quick-app>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
